<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Android 11+ ẩn ứng dụng khác nếu không khai báo package visibility. -->
    <queries>
        <package android:name="com.ss.android.ugc.tiktok.lite" />
        <package android:name="com.zhiliaoapp.musically.go" />
    </queries>
    <application android:allowBackup="false" android:label="Long Auto Swipe" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".SwipeAccessibilityService"
            android:description="@string/service_description"
            android:exported="true"
            android:label="Long Auto Swipe"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
